
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead" , "Default")

<body>
    
    @Html.Action("PartialNavbar" , "Default")
    
    @Html.Action("PartialFeature" , "Default")

    @Html.Action("PartialService" , "Default")
    
    @Html.Action("PartialAbout" , "Default")
   
    @Html.Action("PartialClassRooms" , "Default")
    
    @Html.Action("PartialBookASeat" , "Default")

    @Html.Action("PartialTeachers" , "Default")
  
    @Html.Action("PartialTestimonials", "Default")
  
    @Html.Action("PartialFooter" , "Default")
    
    @Html.Action("PartialScripts" , "Default")
</body>
</html>
