@model List<KidKinder.Entities.About>

@foreach (var item in Model)
{
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0"
                         src="@item.BigImageUrl"
                         alt="" />
                </div>
                <div class="col-lg-7">
                    <p class="section-title pr-5">
                        <span class="pr-2">@item.Header</span>
                    </p>
                    <h1 class="mb-4">@item.Title</h1>
                    <p>
                        @item.Desciription
                    </p>
                    <div class="row pt-2 pb-4">
                        <div class="col-6 col-md-4">
                            <img class="img-fluid rounded" src="@item.SmallImage" alt="" />
                        </div>
                        <div class="col-6 col-md-8">
                            <ul class="list-inline m-0">
                                <li class="py-2 border-top border-bottom">
                                    <i class="fa fa-check text-primary mr-3"></i>Kreşler, bağımsızlık ve sosyal becerilerin gelişimine katkıda bulunur.
                                </li>
                                <li class="py-2 border-bottom">
                                    <i class="fa fa-check text-primary mr-3"></i>Çocuklar, farklı kültürlerden gelen diğer çocuklarla etkileşimde bulunarak kültürel çeşitlilik konusunda bilinçlenirler.
                                </li>
                                <li class="py-2 border-bottom">
                                    <i class="fa fa-check text-primary mr-3"></i>Günlük rutin ve yapılanma çocuklara disiplin ve sorumluluk duygularını kazandırır.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-2 py-2 px-4">Daha fazla bilgi edinin</a>
                </div>
            </div>
        </div>
    </div>
}



