
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")

<body>

    @Html.Action("PartialNavbar", "Default")

    @RenderBody()
    @Html.Action("PartialFooter", "Default")

    @Html.Action("PartialScripts", "Default")
</body>
</html>

