@model List<KidKinder.Entities.ClassRoom>
@{
    ViewBag.Title = "ClassRoomsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Sınıflarımızın Listesi</h5>
                        <span>Sınıflarımız ile ilgili eklme/silme/güncelleme işlemlerini yapabileceğiniz alandır.</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>

                                    <tr>
                                        <th>#</th>
                                        <th>Sınıflarımız</th>
                                        <th>Açıklama</th>
                                        <th>Yaş Aralığı</th>
                                        <th>Kontenjan</th>
                                        <th>Ders Saatleri</th>
                                        <th>Ücretler</th>
                                        <th>Resim</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ClassRoomId</td>
                                            <td>@item.Title</td>
                                            <td>@item.Description.Substring(0, Math.Min(20, item.Description.Length))...</td>
                                            <td>@item.AgeofKids</td>
                                            <td>@item.TotalSeat</td>
                                            <td>@item.ClassTime</td>
                                            <td>@item.Price</td>
                                            <td>@item.ImageUrl</td>
                                            <td><a href="/AdminClassRooms/DeleteClassRooms/@item.ClassRoomId" class="btn btn-danger" style="border-radius: 20px;">   Sil  </a></td>
                                            <td><a href="/AdminClassRooms/UpdateClassRooms/@item.ClassRoomId" class="btn btn-success" style="border-radius: 20px;">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminClassRooms/CreateClassRooms/" class="btn btn-primary">Yeni Sınıf Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

